<!--
footer.html
lucas@pamorana.net (2024)

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
{{ define "layouts/footer.html"}}
				</main>
			</div>
		</div>
		<script src="/vendor/jquery/js/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/vendor/feather-icons/js/feather.min.js" ></script>
		<script src="/vendor/chart/js/chart.min.js"></script>
		{{if eq .pagename "control"}}
		<script src="/ds/heater.js"></script>
		{{end}}
		{{if eq .pagename "program"}}
		<script src="/ds/program.js"></script>
		{{end}}
		{{if eq .pagename "graphs"}}
		<script src="/js/dashboard.js"></script>
		{{end}}
		<script src="/js/control.js"></script>
	</body>
</html>
{{ end }}
